[buildout]
parts = anyblok sphinx
versions = versions

extensions = gp.vcsdevelop
vcs-extend-develop = hg+https://rhode.anybox.fr/ERPBlok/anyblok#egg=anyblok
vcs-update = true

[anyblok]
recipe = zc.recipe.egg
eggs = anyblok
       psycopg2
       flake8
       nose
       sqlalchemy-migrate

interpreter = python

[sphinx]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/anyblok/doc
build = ${buildout:directory}/anyblok/doc/_build
eggs = anyblok

[static-analysis]
recipe = zc.recipe.egg
eggs = flake8

[versions]
